- [:errors, :messages].each do |thing|
	- if params[thing]
		%div{ :style => "border: 1px red solid;", :class => thing }
			= params[thing]

%form{ :action => "/add", :method => "POST" }
	%p
		%label Add new torrent by url:
		%input{ :type => "text", :name => "url", :size => 255 }
	%p
		%label Start immediately?
		%input{ :type => "checkbox", :name => "start" }

	%input{ :type => "submit", :value => "Add me!" }
