%html
	%head
		%title RbTorrent
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/main.css'}
		= script "/jquery-1.4.2.js"
		= script "/application.js"
	%body
		#header
			%h1.big RbTorrent
			%h3.small rtorrent webgui built in Sinatra
			.clear
		.content
			= yield
